<div class="container-fluid  body-container">
  <h1>Which Teams would you like to add to <%= @tournament.name %>?</h1>

  <%= bootstrap_form_for(@tournament) do |f| %>
    <%= f.collection_select(:collect_team_ids ,@teams, :id, :name, {:include_blank =>  "N/A", :selected => @tournament.teams.collect{|r| r.id}}, {:multiple => true}) %>

    <%= f.submit %>
  <% end %>


</div>
