<div class="container">
  <% @teams.each do |t| %>
  <div class="team-row">
    <p>Team Name: <%= link_to "#{t.name}", t %> </p>
    <p>Team Coach: <%= link_to "#{t.user.last_name}, #{t.user.first_name}", t.user %></p>
  </div>
  <% end %>
</div>
