<div class="container-fluid  body-container">
  <div class="col-xs-7 col-sm-4">
    <%= render 'team' %>
    <%= link_to "New Team", new_team_path, class:"btn btn-primary center-block" %>
  </div>
</div>
