<h1>Inbox</h1>
<div class="container-fluid">
  <% @messages.each do |m| %>
    <%= link_to m do %>
      <% unless m.message_reads.where("user_id = #{current_user.id}").first.read %>
        <div class="row message-row-unread">
      <% else %>
        <div class="row message-row-read">
      <% end %>
        <div class="col-xs-3">
          <%= m.from.username %><br>
        </div>
        <div class="col-xs-6">
          <%= m.subject %>
        </div>
        <div class="col-xs-3">
          <%= m.created_at.strftime('%a %b %e, %l:%M %P ') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
