<div class="container-fluid  body-container">
  <div class="col-lg-6 col-lg-offset-3">
    <%= bootstrap_form_for(@league) do |f| %>
      <%= f.text_field :name %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
