<h1> Welcome! </h1>

<p>Hello and welcome to LeagueKit.  We are the one stop location for communication for your team, tournament, or league!  If you have any questions you can respond to this email.  We hope you find LeagueKit helpful.  </p>
<!-- <p>Here is a link to <#%= link to "LeagueKit", root_url %></p> -->
<p>Thank you!</p>
<p>LeagueKit</p>
