<h1>You have an Message from <%= @message.from.username %> in LeagueKit!</h1>

<%= simple_format(@message.content) %>

<p><%= @message.from.username %></p>

<%= link_to "View Message Here" ,message_url(@message) %>
