<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            LeagueKit
            <small>About Us</small>
        </h1>
        <div class="about-me container">
          <p>
            LeagueKit was founded in 2016 as a final project for The Iron Yard.  The inspiration came from
            volunteering as a referee and a close relationship with the wonderful woman who helped run
            Shelby County Special Olympics Basketball Tournament.  The idea was that there could be a central
            location where everyone, from parents to referees, could know where they were supposed to be and
            when.  It would also create automatic alerts to notify all those impacted when a game was changed.
            My goal was to make it just a little bit easier for the people who donate their time and energy
            to weekend sporting events.
          </p>
          <p>
            I are constantly improving on the website and in the future will have areas for referees and
            volunteers.  If there is interest I will begin work on an iPhone and Android app for mobile
            use.  The site should be relatively mobile friendly.  That being said, if you have
            recommendations for how I can improve site we would love to hear them.  You can reach out to
            us at MyLeagueKit@gmail.com with issues or recommendations.
          </p>
          <p>I hope you enjoy the site!</p>
          <h4>Matthew Fair</h4>
        </div>
    </div>
</div>
