<div class="container-fluid  body-container">
  <h1 class="text-center">Announcements!</h1>
  <%= render "announces/announces" %>
  <div class= "pagination">
    <%= paginate @announces %>
  </div>
</div>
