<div class="container-fluid  body-container">
  <% if current_user_session %>
    <h1 class="text-center">Announcements!</h1>
    <%= render "announces/announces" %>
    <div class= "pagination">
      <%= paginate @announces %>
    </div>
  <% end %>
</div>
