<div class="container">
  <% @following.each do |f| %>
    <h1><%= f.name %></h1>
    <h3>Announcements</h3>
    <% f.announces.each do |a| %>
      <p><%= a.content %></p>
    <% end %>
  <% end %>
</div>
