<% @announces.each do |a| %>
  <%= link_to "#{root_url}#{a.announcable_type.downcase.pluralize}/#{a.announcable_id.to_s}/announces" do %>
  <div class="col-xs-12">
    <% if a.announcable_type == "Team" %>
      <div class="panel panel-primary">
    <% elsif a.announcable_type == "Tournament" %>
      <div class="panel panel-green">
    <% elsif a.announcable_type == "League" %>
      <div class="panel panel-yellow">
    <% elsif a.announcable_type == "Game" %>
      <div class="panel panel-red">
    <% else %>
      <div class="panel panel-red">
    <% end %>
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-left">
                    <div><p><%= a.content %></p></div>
                </div>
            </div>
        </div>
            <div class="panel-footer">
                <span class="pull-left"><%= a.announcable.name %></span>
                <span class="pull-right"><i class="fa fa-dribbble"></i></span>
                <div class="clearfix"></div>
            </div>

      </div>
  </div>
  <% end %>
<% end %>
