<div class="container">
  <h1>Announcements!</h1>
    <%= render "announces/announces" %>
  <p>
    <%= link_to "New Announcement", [:new, @announcable, :announce], class:"btn-primary btn" %>
    <%= link_to "#{@announcable.class} Home", "#{root_url}/#{@announcable.class.to_s.downcase.pluralize}/#{@announcable.id}", class:"btn-primary btn" %>
  </p>
</div>
