
<div class="container-fluid  body-container">
  <h2 class="text-center"> Upcoming Games</h2>
  <div class="title-team-row row hidden-xs">
    <div class="col-sm-3 hidden-xs">Game Start</div>
    <div class="col-sm-3 hidden-xs">Tournament Name</div>
    <div class="col-sm-3 hidden-xs">Location</div>
  </div>
  <% @games.each do |g| %>
    <div class="team-row row">
      <div class="col-xs-6 hidden-sm hidden-md hidden-lg">Game Start</div><div class="col-sm-3 col-xs-6"><%= "#{g.begin_time.strftime("%b %d, %Y at %l:%M %p")}" %></div>
      <div class="col-xs-6 hidden-sm hidden-md hidden-lg">Tournament Name</div><div class="col-sm-3 col-xs-6"><%= link_to "#{g.tournament.name}", g.tournament %></div>
      <div class="col-xs-6 hidden-sm hidden-md hidden-lg">Location</div><div class="col-sm-3 col-xs-6"><%= link_to "#{g.location.name}", g.location %></div>
    </div>
  <% end %>

</div>
