<div class="container-fluid  body-container">
  <div class="col-xs-7 col-sm-4">
    <%= render 'player' %>
    <%= link_to "New Player", new_player_path, class:"btn btn-primary center-block" %>
  </div>
</div>
