
<div class="container">
  <h1><%= "#{@player.first_name} #{@player.last_name}" %> </h1>
  <p>Jersey: <%= @player.jersey_number %></p>
  <p>Guardian: <%= @player.user.first_name + " " + @player.last_name %></p>
</div>
