/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "rails_bootstrap_forms";
 @import "user_sessions";
 @import "players";
 @import "font-awesome";
 @import "bootstrap";
 @import "sb-admin";
 @import "announces";

.pagination {
 font-size:.9em;
}

.pagination li a{
  background-image: url(basketball-texture.png);
  color:#000;
  font-weight: bold;
}
.pagination li a:hover{
  color:white;
}

.jumbotron{
  padding: 20px;
}
.logo{
  height: 75px;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
.body-container{
  min-height: 63vh;
  width: 100%;
  padding: 0 30px;
}
.list-link {
  background-color: #eee;
  color:#000;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.btn-primary{
  background-image: url(basketball-texture.png);
  border: 1px #fff solid;
  color:black;
  font-weight: bold;
}

.navbar .btn-primary{
  margin-right: 10px;
}

.content-area{
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.announcement{
  margin:8px auto;
  color: #000;
  min-height:50px;
  padding-top: 3px;
  padding-left: 20px;
}

.header {
  width:100%;
  min-height: 100px;
  background-image: url(basketball_court_wood_background.jpg);
}


.announcement .content-area {

  width:auto;
}

.league-announcement{
  background-color: #9ac1cd;
  border-radius: 5px;
}
.tournament-announcement{
  background-color: #98fb98;
  border-radius: 5px;
}
.team-announcement{
  background-color: pink;
  border-radius: 5px;
}
.game-announcement{
  background-color: yellow;
  border-radius: 5px;
}

.footer{
  background-color: #ccc;
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
  color:#000;
  margin-top: 15px;

}

.footer p {
  vertical-align: bottom;
}
