// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-row-unread{
  background-color: #eee;
  font-weight: bold;
  margin-top: 0px;
  border-bottom: 1px solid #444;
  color: #000;
  margin: 0;
}
.message-row-read{
  background-color: #fff;
  margin-top: 0px;
  border-bottom: 1px solid #444;
  color: #000;
  margin:0;
}
.message-row-header{
  background-color: #000;
  margin-top: 0px;
  border-bottom: 1px solid #444;
  color: #fff;
  margin: 0;
}
.message-container{
  background-color: #eee;
  font-weight: bold;
  margin-top: 0px;
  border-bottom: 1px solid #444;
  color: #000;
}
.message-container:nth-child(even) {
  background-color: #eee;
  border-radius: 5px;

}
.inbox-container{
  min-height: 62vh;
  border: 1px solid #444;
  margin:0;
}

.message-container{
  padding-left: 10px;

}

.sent-time{
  margin-top:25px;
}

.reply-row{
margin-top: 15px;
}
