// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-link {
  background-color: #eee;
  color:#000;
  font-weight: bold;
  border-radius: 5px;
  font-size: 2em;
  margin-bottom: 10px;
}
.team-logo{
  max-height: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
